<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.game.mappers.AmorconfigMapper">
  <resultMap id="BaseResultMap" type="com.player.game.models.Amorconfig">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="desic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="def" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mdef" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="AddHP" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="AddMP" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="BuyPrice" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="SellPrice" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, desic, def, mdef, AddHP, AddMP, BuyPrice, SellPrice
  </sql>
  <select id="getList" resultType="com.player.game.models.Amorconfig">
    select * from amorconfig;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from amorconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.player.game.models.Amorconfig">
    insert into amorconfig (id, desic, def, 
      mdef, AddHP, AddMP, 
      BuyPrice, SellPrice)
    values (#{id,jdbcType=INTEGER}, #{desic,jdbcType=VARCHAR}, #{def,jdbcType=INTEGER}, 
      #{mdef,jdbcType=INTEGER}, #{addhp,jdbcType=INTEGER}, #{addmp,jdbcType=INTEGER}, 
      #{buyprice,jdbcType=INTEGER}, #{sellprice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.player.game.models.Amorconfig">
    insert into amorconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="desic != null">
        desic,
      </if>
      <if test="def != null">
        def,
      </if>
      <if test="mdef != null">
        mdef,
      </if>
      <if test="addhp != null">
        AddHP,
      </if>
      <if test="addmp != null">
        AddMP,
      </if>
      <if test="buyprice != null">
        BuyPrice,
      </if>
      <if test="sellprice != null">
        SellPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="desic != null">
        #{desic,jdbcType=VARCHAR},
      </if>
      <if test="def != null">
        #{def,jdbcType=INTEGER},
      </if>
      <if test="mdef != null">
        #{mdef,jdbcType=INTEGER},
      </if>
      <if test="addhp != null">
        #{addhp,jdbcType=INTEGER},
      </if>
      <if test="addmp != null">
        #{addmp,jdbcType=INTEGER},
      </if>
      <if test="buyprice != null">
        #{buyprice,jdbcType=INTEGER},
      </if>
      <if test="sellprice != null">
        #{sellprice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.player.game.models.Amorconfig">
    update amorconfig
    <set>
      <if test="desic != null">
        desic = #{desic,jdbcType=VARCHAR},
      </if>
      <if test="def != null">
        def = #{def,jdbcType=INTEGER},
      </if>
      <if test="mdef != null">
        mdef = #{mdef,jdbcType=INTEGER},
      </if>
      <if test="addhp != null">
        AddHP = #{addhp,jdbcType=INTEGER},
      </if>
      <if test="addmp != null">
        AddMP = #{addmp,jdbcType=INTEGER},
      </if>
      <if test="buyprice != null">
        BuyPrice = #{buyprice,jdbcType=INTEGER},
      </if>
      <if test="sellprice != null">
        SellPrice = #{sellprice,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.player.game.models.Amorconfig">
    update amorconfig
    set desic = #{desic,jdbcType=VARCHAR},
      def = #{def,jdbcType=INTEGER},
      mdef = #{mdef,jdbcType=INTEGER},
      AddHP = #{addhp,jdbcType=INTEGER},
      AddMP = #{addmp,jdbcType=INTEGER},
      BuyPrice = #{buyprice,jdbcType=INTEGER},
      SellPrice = #{sellprice,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>