<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.game.mappers.PlayerMapper">
	<select id="getPlayerByUid" parameterType="long"
		resultType="com.player.game.models.Player">
		select * from `player` where uid = #{uid}
	</select>
	<insert id="add"
		parameterType="com.player.game.models.Player"
		useGeneratedKeys="true" keyProperty="id">
		insert
		into
		`player`(id,uid,level,name,job,exp,platform)
		values(#{id},#{uid},#{level},#{name},#{job},#{exp},#{platform})
	</insert>
</mapper>