<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.game.mappers.UserMapper">
	<select id="getUserbyGuestKey" parameterType="string"
		resultType="com.player.game.models.User">
		select * from `user` where guestKey = #{guestKey}
	</select>
	<select id="getUserByUname" parameterType="string"
		resultType="com.player.game.models.User">
		select * from `user` where uname = #{uname}
	</select>
	<insert id="add"
		parameterType="com.player.game.models.User"
		useGeneratedKeys="true" keyProperty="id">
		insert
		into
		`user`(id,uname,upwd,unick,guestKey,isGuest,status)
		values(#{id},#{uname},#{upwd},#{unick},#{guestKey},#{isGuest},#{status})
	</insert>
</mapper>